*{
    padding: 0;
    margin: 0;
    background-color: #201E43;
    color: white;
    font-family: sans-serif;
}

section{
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-top: 20px;
}
.navigation-bar{
    margin: 0px 5px 0px 5px;
    padding-right: 10px;
    align-items: center;
    border-right: 1px solid #508C9B;
}
.myimage{

}
.myimage img{
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.nav{
    
}
.nav li{
    padding: 10px 10px 10px 5px;
    list-style: none;
}
.nav li a{
    text-decoration: none;
    
    padding: 10px;
    font-size: 20px;
    display: block;
}
.nav li a:hover{
    color: rgb(0, 0, 0);
    background-color: #EEEEEE;
    border-radius: 10px;
}
.content-area{
    margin-left: 2vw;
}
.li-nav-item{
    text-align: center;
}
.interroduction{
    font-size: 50px;
    margin-bottom: 25px;
}
.myname{
    color: rgb(255, 213, 0);
}
.exclamation-marks{
    color: rgb(255, 213, 0);
}
.posts{
    color:rgb(255, 213, 0);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}
.who-are-you{
    font-size: 25px;
}
article{
    padding-bottom: 50px;
    border-bottom: 1px solid #508C9B;
}