*{
    margin: 0;
    padding : 0;
}
.CodeSection{
    background-color: black;
}
.CodeSection ul li{
   text-align: center;
   padding-bottom: 25px ;
}
@media screen and (orientation:landscape){
    header{
        justify-content: space-around;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #ResponsiveHeader{
        display: none;
    }
    #Connect ul{
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }
    #Connect ul li{
        text-align: center;
    }
    .HomeSection{
        display: grid;
        grid-template-columns: 7fr 5fr;
        justify-content: center;
        padding: 0 10vw 0 10vw;
        gap: 50px;
    }
    #myphoto{
        width: 30vw;
        height: auto;
    }
    .CodeSection ul {
        display: flex;
        justify-content: space-around;
    }
    
}
@media screen and (orientation:portrait){
    header{
        justify-content: space-between;
    }

    nav{
        display: none;
    }

    #Connect ul{
        display: grid;
        grid-template-columns: 6fr 6fr;
        text-align: center;
        flex-wrap: wrap;
    }

    #Connect ul li{
        padding: 5px;
        margin-bottom: 20px;
    }

    .HomeSection{
        display: block;
        padding: 0 10vw 0 10vw;
        text-align: center;
    }

    #myphoto{
        width: 70vw;
        height: auto;
        margin-top: 25px;
    }
    .CodeSection ul{
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
}