
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
    color: #f2ffd9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
hr{
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    border-color: #2e9d9d;
    opacity: 0.5;
    
    
}

header{
    background-color: #000000;
    padding: 0 10% 0 10%;
    height: 60px;    
}

.navigation_bar{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    
}

.nav_items{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.4;
    padding-top: 18px;
    font-size: larger;
    

}
.nav_items a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    
    
}
.mysignature{
    /* float: left; */
    padding-top: 8px;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.nav_items a:hover{
    color: #00ffff;
    
    text-decoration: underline;

}




/* Main Section */
main{
    margin-top: 25px;
    padding: 0 5% 0 5%;
}
#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    
}
#about img{
    max-width: 300px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    
    margin-right: 10%;
}

#project{
    margin-top: 25px;
    margin-bottom: 45px;
    /* background-color: #fff; */
    
}
.python_projects{
    background-color: #000000;
    padding-bottom: 20px;
    color: aliceblue;
    border-radius: 8px;
}
main .heading{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    
}




/* Python Project CSS*/
.python_project_images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.python_project_images a img{
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
    border: 2px solid#ffffff;
    border-radius: 5px;
    
}
.python_project_images a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;


}
.python_projects h3{
    padding-top: 45px;
    padding-left: 65px;
    padding-bottom: 20px;
    font-size: larger;
    color: #ffffff;

}




/* Data Science Project CSS*/
.DataScience_project_images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.DataScience_project_images a img{
    max-width: 200px;
    margin: 10px;
    border: 2px solid#ffffff;
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    
}
.DataScience_project_images a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;

}
.DataScience_projects h3{
    padding-top: 45px;
    padding-left: 65px;
    padding-bottom: 20px;
    font-size: larger;
    color: #ffffff;

}
.DataScience_projects{
    margin-top: 20px;
    border-radius: 8px;
    background-color: #000000;
    padding-bottom: 20px;
}





/* Web Development Project CSS*/
.WebDevelopment_project_images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.WebDevelopment_project_images a img{
    max-width: 200px;
    margin: 10px;
    border: 2px solid#ffffff;
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    
}
.WebDevelopment_project_images a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;

}
.WebDevelopment_projects h3{
    padding-top: 45px;
    padding-left: 65px;
    padding-bottom: 20px;
    font-size: larger;
    color: #ffffff;

}
.WebDevelopment_projects{
    margin-top: 20px;
    border-radius: 8px;
    background-color: #000000;
    padding-bottom: 20px;
}


/*Skills Section CSS*/
#skills{
    margin-bottom: 45px;
}
.name_of_technical_skills{
    background-color: #000000;
    
    padding: 4% 10% 4% 2%;    
}
.name_of_technical_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
    
}

.name_of_technical_skills a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
}
.name_of_technical_skills a img{
    height: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid#ffffff;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    
}
.main_skills_heading {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    text-decoration: underline;
    margin-top: 25px;
}
.sub_heading{
    background-color: #000000;
    border-radius: 8px 8px 0 0;
}
.sub_heading h3{
    padding-top: 4%;
    padding-left: 10%;
    
}

/* Soft Skills CSS*/

.name_of_soft_skills{
    background-color: #000000;
    border-radius: 0px 0px 8px 8px;
    padding: 4% 10% 4% 4%;    
}
.name_of_soft_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
    
}

.name_of_soft_skills a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
}
.name_of_soft_skills a img{
    height: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid#ffffff;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    
    
}


.soft_skills_sub_heading{
    background-color: #000000;
    
}
.soft_skills_sub_heading h3{
    padding-top: 4%;
    padding-left: 10%;
    
}

/* Connect Section CSS*/
#connect{
    margin-bottom: 20px;
}
.main_connect_heading{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-decoration: underline;
    margin-bottom: 20px;
}
.fa-brands {
    
    font-size: 80px;
    color: #ffffff;
    justify-content: space-between;
}
.icons_connect{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.icon a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #e2fad1;
    
    
}

.text_footer{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}


.about_me h2{
    font-size: 40px;
}
